* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    color: #2B283A;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #0B2434;
    padding: 20px;
    text-align: center;
   
}


/* TEXT */
p{
    font-size: 14px;
    color: #4A4E74;
    font-weight: medium;
    margin-block: 8px 30px;
}



h1{
    font-size: 26px;
    color:#2B283A;
    padding: 0px;
    margin-block: 16px 8px;
    
}


h2{
    margin: 0px;
    font-size: 2rem;
}





.containerApp{
    max-width: 800px;
    height: auto;
    margin:0px auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 34px;
    
}




.Dice--container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    place-items: center ;
    place-content: center;
    grid-gap: 20px 20px;
    
}

.Die{
    height: 50px;
    width: 50px;
    box-shadow: 2px 2px 8px rgb(190, 137, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}



.die-num {
    font-size: 2rem;
}

.roll-dice {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #e18b4e;
    color: rgb(206, 205, 207);
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
    margin-block: 24px 28px
}



button:focus {
    outline: none;
}

button:active {
    box-shadow: inset 2px 2px 10px -4px rgba(0, 0, 0, 0.7);
}